[Unit]
Description=macchanger on all enp* or wlp* interfaces
Wants=network-pre.target
Before=network-pre.target

[Service]
ExecStart=/usr/bin/macspoof
Type=oneshot

[Install]
WantedBy=multi-user.target
