- include: apt.yml

- include: apparmor.yml

- include: firejail.yml

- include: issues.yml

- include: login_defs.yml

- include: macspoof.yml

- include: modprobe_blacklist.yml

- include: restrict_access_to_compilers.yml

- include: sshd.yml

- include: sysctl.yml

- include: usbguard.yml

- include: change_permissions.yml
