- name: Remove dmenu cache
  file:
    state: absent
    path: "rm /home/{{ username }}/.cache/dmenu_run"

- name: Change owner of users home directory to user
  file:
    path: "/home/{{ username }}"
    state: directory
    recurse: yes
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Clean unwanted olderstuff
  apt:
    autoremove: yes
    purge: yes

- name: disable sshd service and ensure it is not masked
  systemd:
    name: ssh
    enabled: no
    masked: no

