- name: Create Applications folder for AppImages
  file:
    path: "/home/{{ username }}/Applications"
    state: directory
    mode: '0755'

- name: Copy get_latest_nextcloud_version.py to /tmp
  copy:
    src: "{{ role_path }}/files/get_latest_nextcloud_version.py"
    dest: /tmp/get_latest_nextcloud_version.py
    mode: '0755'

- name: Find last nextcloud client version
  shell: "python3 /tmp/get_latest_nextcloud_version.py"
  register: script

- name: "Download nextcloud appimage {{ script }}"
  get_url:
    url: "{{ nextcloud_url }}"
    dest: "/home/{{ username }}/Applications/Nextcloud.AppImage"
    mode: '0755'
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Create ~/.local/bin
  file:
    path: "/home/{{ username }}/.local/bin"
    state: directory
    mode: '0755'
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Link nextcloud to ~/.local/bin/nextcloud
  file:
    src: "/home/{{ username }}/Applications/Nextcloud.AppImage"
    dest: "/home/{{ username }}/.local/bin/nextcloud"
    owner: "{{ username }}"
    group: "{{ username }}"
    state: link

- name: Provide desktop file for launcher
  template:
    src={{ role_path }}/templates/Nextcloud.desktop.j2
    dest="/home/{{ username }}/Applications/dmenu/nextcloud.desktop"
