- name: install i3status
  apt:
    name: "{{ packages }}"
    state: latest
    update_cache: yes
  vars:
    packages:
    - i3status

- name: install py3status from pip
  pip:
    name: py3status

- name: Create i3status config directory if it does not exist
  file:
    path: /home/null/.config/i3
    state: directory
    mode: '0755'

- name: Copy i3status config files and helper scripts
  copy:
    src: "{{ item }}"
    dest: /home/null/.config/i3status/
    owner: null
    group: null
    mode: 0644
  with_fileglob:
    - "{{ role_path }}/files/*"
