- name: install i3 Desktop
  apt:
    name: "{{ packages }}"
    update_cache: yes
  vars:
    packages:
    - xorg
    - xinit
    - i3
    - i3lock
    - i3status
    - scrot
    - imagemagick
    - feh

- name: Create i3 config directory if it does not exist
  file:
    path: "/home/{{ username }}/.config/i3"
    state: directory
    mode: '0755'

- name: Create font directory if it does not exist
  file:
    path: "/home/{{ username }}/.fonts"
    state: directory
    mode: '0755'


- name: Copy i3 config files and helper scripts
  copy:
    src: "{{ item }}"
    dest: "/home/{{ username }}/.config/i3/"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0755
  with_fileglob:
    - "{{ role_path }}/files/*"

- name: Copy fonts
  copy:
    src: "{{ item }}"
    dest: "/home/{{ username }}/.fonts/"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0644
  with_fileglob:
    - "{{ role_path }}/fonts/*"

