- name: Update and upgrade apt packages
  apt:
    upgrade: yes
    update_cache: yes
    cache_valid_time: 86400 #One day

- name: Install base system
  apt:
    name: "{{ packages }}"
    state: latest
    update_cache: yes
  vars:
    packages:
    - aptitude
    - apt-transport-https
    - git
    - htop
    - screen
    - nano
    - gnome-terminal
    - tmux
    - python3-setuptools
    - python3-pip
    - python-setuptools
    - python-pip
    - sudo
    - network-manager
    - network-manager-gnome
    - wireless-tools
    - pulseaudio
    - pulseaudio-utils
    - pavucontrol
    - pasystray

- name: Allow user {{ username }} on host {{ hostname }} to shutdown and reboot the system
  lineinfile:
    path: /etc/sudoers
    line: "{{ username }} {{ inventory_hostname }} =NOPASSWD: /usr/bin/systemctl shutdown,/usr/bin/systemctl hibernate,/usr/bin/systemctl reboot"
    create: yes

- name: Create /opt/z
  file:
    path: /opt/z
    state: directory
    mode: '0755'

- name: Install rupa/z
  git:
    repo: 'https://github.com/rupa/z.git'
    dest: /opt/z/
