- name: Update and upgrade apt packages
  apt:
    upgrade: yes
    update_cache: yes
    cache_valid_time: 86400 #One day

- name: Install base system
  apt:
    name: "{{ packages }}"
    state: latest
    update_cache: yes
  vars:
    packages:
    - aptitude
    - apt-transport-https
    - git
    - htop
    - dnsutils
    - screen
    - nano
    - gnome-terminal
    - tmux
    - python3-setuptools
    - python3-pip
    - python-setuptools
    - python-pip
    - sudo
    - zenity
    - network-manager
    - network-manager-gnome
    - wireless-tools
    - pulseaudio
    - pulseaudio-utils
    - pavucontrol
    - pasystray

- name: Allow user {{ username }} on host {{ hostname }} to shutdown and reboot the system
  lineinfile:
    path: /etc/sudoers
    line: "{{ username }} {{ inventory_hostname }} =NOPASSWD: /usr/bin/systemctl shutdown,/usr/bin/systemctl hibernate,/usr/bin/systemctl reboot"
    create: yes

- name: Create /opt/z
  file:
    path: /opt/z
    state: directory
    mode: '0755'

- name: Install rupa/z
  git:
    repo: 'https://github.com/rupa/z.git'
    dest: /opt/z/

- name: Put /tmp to ram
  lineinfile:
    path: /etc/fstab
    regexp: '/tmp'
    line: "tmpfs /tmp tmpfs defaults,noatime,nosuid,nodev,noexec,mode=1777 0 0"
    create: yes

- name: Put /var/cache to ram
  lineinfile:
    path: /etc/fstab
    regexp: '/var/cache'
    line: "tmpfs /var/cache tmpfs defaults,noatime,nosuid,nodev,noexec,mode=1777 0 0"
    create: yes

- name: Put /var/log/apt to ram
  lineinfile:
    path: /etc/fstab
    regexp: '/var/log/apt'
    line: "tmpfs /var/log/apt tmpfs defaults,noatime 0 0"
    create: yes

